.grid-container__item:nth-of-type(1) {
  filter: hue-rotate(45deg); }

.grid-container__item:nth-of-type(2) {
  filter: hue-rotate(90deg); }

.grid-container__item:nth-of-type(3) {
  filter: hue-rotate(135deg); }

.grid-container__item:nth-of-type(4) {
  filter: hue-rotate(180deg); }

.grid-container__item:nth-of-type(5) {
  filter: hue-rotate(225deg); }

.grid-container__item:nth-of-type(6) {
  filter: hue-rotate(270deg); }

.grid-container__item:nth-of-type(7) {
  filter: hue-rotate(315deg); }

.grid-container__item:nth-of-type(8) {
  filter: hue-rotate(360deg); }

.grid-container__item:nth-of-type(9) {
  filter: hue-rotate(405deg); }

.grid-container__item:nth-of-type(10) {
  filter: hue-rotate(450deg); }

.grid-container__item:nth-of-type(11) {
  filter: hue-rotate(495deg); }

.grid-container__item:nth-of-type(12) {
  filter: hue-rotate(540deg); }

.grid-container__item:nth-of-type(13) {
  filter: hue-rotate(585deg); }

.grid-container__item:nth-of-type(14) {
  filter: hue-rotate(630deg); }

.grid-container__item:nth-of-type(15) {
  filter: hue-rotate(675deg); }

.grid-container__item:nth-of-type(16) {
  filter: hue-rotate(720deg); }

.grid-container__item:nth-of-type(17) {
  filter: hue-rotate(765deg); }

.grid-container__item:nth-of-type(18) {
  filter: hue-rotate(810deg); }

.grid-container__item:nth-of-type(19) {
  filter: hue-rotate(855deg); }

.grid-container__item:nth-of-type(20) {
  filter: hue-rotate(900deg); }

.grid-container {
  margin-bottom: 20px; }
  .grid-container__item {
    background-color: chartreuse;
    text-align: center; }

.grid-container--border-items .grid-container__text {
  font-size: 24px;
  border: 3px solid #336600; }

.grid-container.grid-container--clear-items .grid-container__item {
  filter: none;
  background-color: white; }

.custom .slide {
  padding: 15px 100px 0; }
  .custom .slide::after {
    right: 30px; }
  .custom .slide pre, .custom .slide code {
    font-size: 20px;
    line-height: 25px; }

#cover.slide {
  background-image: url("./../pictures/grid-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #cover.slide h2 {
    margin: 150px 0 0;
    color: #FFF;
    -webkit-text-stroke: 1px black;
    text-align: center;
    font-size: 120px; }
  #cover.slide p {
    margin: 10px 10px 0;
    text-align: center;
    color: #FFF;
    font-style: italic;
    font-size: 80px;
    -webkit-text-stroke: 1px black; }
  #cover.slide p a {
    color: #FFF;
    text-decoration: none;
    background: none;
    -webkit-text-stroke: 1px black; }

.grid-container__item-border {
  align-self: stretch;
  justify-self: stretch;
  border: 1px solid #ddd; }

.grid-container {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px; }

.grid-container--1 {
  height: 480px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: white; }
  .grid-container--1 .grid-container__item {
    border: 1px solid #ddd;
    text-transform: uppercase;
    position: relative; }
  .grid-container--1 span {
    position: absolute;
    font-size: 18px;
    color: #919191;
    left: 3px;
    top: -6px; }
  .grid-container--1 .grid-area {
    border-color: #8a0054;
    grid-column: 2 / 4;
    grid-row: 2 / 4; }
    .grid-container--1 .grid-area:hover {
      background: #8a0054;
      color: white; }
      .grid-container--1 .grid-area:hover span {
        color: white; }
  .grid-container--1 .grid-column {
    border-color: rgba(2, 143, 118, 0.8);
    grid-column: 5;
    grid-row: 1 / 6; }
    .grid-container--1 .grid-column:hover {
      background: rgba(2, 143, 118, 0.8);
      color: white;
      z-index: 1; }
      .grid-container--1 .grid-column:hover span {
        color: white; }
  .grid-container--1 .grid-row {
    background: rgba(255, 255, 255, 0.5);
    border-color: rgba(38, 95, 163, 0.8);
    grid-column: 1 / 6;
    grid-row: 5 / 6; }
    .grid-container--1 .grid-row:hover {
      background: rgba(38, 95, 163, 0.8);
      color: white;
      z-index: 1; }
      .grid-container--1 .grid-row:hover span {
        color: white; }
  .grid-container--1 .grid-cell {
    border-color: #ff0048; }
    .grid-container--1 .grid-cell:hover {
      background: #ff0048;
      color: white; }
      .grid-container--1 .grid-cell:hover span {
        color: white; }

.grid-container--2 {
  height: 330px;
  grid-template-columns: 130px 1fr 2fr auto;
  grid-template-rows: 25% 1fr auto; }

.grid-container--3 {
  height: 330px;
  grid-template-columns: repeat(2, 1fr) repeat(2, 2fr) 3fr;
  grid-template-rows: repeat(3, 1fr); }
  .grid-container--3 .grid-container__item--8 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 1;
    opacity: 0.8; }
  .grid-container--3 .grid-container__item--9 {
    grid-column: 4 / 6;
    grid-row: 3 / 4; }

.grid-container--7 {
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr; }
  .grid-container--7 .grid-container__item-border:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .grid-container--7 .grid-container__item:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .grid-container--7 .grid-container__item-border:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
  .grid-container--7 .grid-container__item:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
  .grid-container--7 .grid-container__item-border:nth-of-type(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2; }
  .grid-container--7 .grid-container__item:nth-of-type(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2; }
  .grid-container--7 .grid-container__item-border:nth-of-type(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 2; }
  .grid-container--7 .grid-container__item:nth-of-type(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 2; }
  .grid-container--7-1 {
    justify-items: start; }
  .grid-container--7-2 {
    justify-items: center; }
  .grid-container--7-3 {
    justify-items: end; }
  .grid-container--7-4 {
    justify-items: stretch; }

.grid-container--8 {
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr; }
  .grid-container--8 .grid-container__item-border:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .grid-container--8 .grid-container__item:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .grid-container--8 .grid-container__item-border:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
  .grid-container--8 .grid-container__item:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
  .grid-container--8 .grid-container__item-border:nth-of-type(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2; }
  .grid-container--8 .grid-container__item:nth-of-type(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2; }
  .grid-container--8 .grid-container__item-border:nth-of-type(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 2; }
  .grid-container--8 .grid-container__item:nth-of-type(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 2; }
  .grid-container--8-1 {
    align-items: start; }
  .grid-container--8-2 {
    align-items: center; }
  .grid-container--8-3 {
    align-items: end; }
  .grid-container--8-4 {
    align-items: stretch; }

.grid-container--12 {
  height: 300px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  .grid-container--12-1 {
    height: 300px;
    position: absolute;
    top: 15px;
    left: 100px;
    width: 824px; }
  .grid-container--12 .grid-container__item {
    border: 1px solid transparent; }
    .grid-container--12 .grid-container__item:nth-of-type(1) {
      align-self: start;
      justify-self: start; }
    .grid-container--12 .grid-container__item:nth-of-type(2) {
      align-self: start;
      justify-self: center; }
    .grid-container--12 .grid-container__item:nth-of-type(3) {
      align-self: start;
      justify-self: end; }
    .grid-container--12 .grid-container__item:nth-of-type(4) {
      align-self: start;
      justify-self: stretch; }
    .grid-container--12 .grid-container__item:nth-of-type(5) {
      align-self: stretch;
      justify-self: start; }
    .grid-container--12 .grid-container__item:nth-of-type(6) {
      align-self: center;
      justify-self: start; }
    .grid-container--12 .grid-container__item:nth-of-type(7) {
      align-self: center;
      justify-self: center; }
    .grid-container--12 .grid-container__item:nth-of-type(8) {
      align-self: center;
      justify-self: end; }
    .grid-container--12 .grid-container__item:nth-of-type(9) {
      align-self: center;
      justify-self: stretch; }
    .grid-container--12 .grid-container__item:nth-of-type(10) {
      align-self: stretch;
      justify-self: center; }
    .grid-container--12 .grid-container__item:nth-of-type(11) {
      align-self: end;
      justify-self: start; }
    .grid-container--12 .grid-container__item:nth-of-type(12) {
      align-self: end;
      justify-self: center; }
    .grid-container--12 .grid-container__item:nth-of-type(13) {
      align-self: end;
      justify-self: end; }
    .grid-container--12 .grid-container__item:nth-of-type(14) {
      align-self: end;
      justify-self: stretch; }
    .grid-container--12 .grid-container__item:nth-of-type(15) {
      align-self: stretch;
      justify-self: end; }
  .grid-container--12-1 {
    align-items: start; }
  .grid-container--12-2 {
    align-items: center; }
  .grid-container--12-3 {
    align-items: end; }
  .grid-container--12-4 {
    align-items: stretch; }
