@for $i from 1 through 20{
  .#{grid-container__item}--#{$i}{
       filter: hue-rotate(#{45*$i}deg);
  }
}
.grid-container{
  margin-bottom: 20px;
  background-color: black;
  &__item{
    background-color: chartreuse;
    text-align: center;
  }
  &__text{
    font-size: 24px;
    border: 3px solid darken(chartreuse, 30%);
  }
}

.custom .slide{
  padding: 15px 100px 0;
  &::after{
    right: 30px;
  }
  pre, code{
    font-size: 20px;
    line-height: 25px;
  }
}
#cover.slide {
  background-image: url("./../pictures/grid-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h2 {
    margin:150px 0 0;
    color:#FFF;
    -webkit-text-stroke: 1px black;
    text-align:center;
    font-size:120px;
  }
  p {
    margin:10px 10px 0;
    text-align:center;
    color:#FFF;
    font-style:italic;
    font-size:80px;
    -webkit-text-stroke: 1px black;
  }
  p a {
    color:#FFF;
    text-decoration: none;
    background: none;
    -webkit-text-stroke: 1px black;
  }
}