@for $i from 1 through 20{
  .#{grid-container__item}:nth-of-type(#{$i}){
    position: relative;
    filter: hue-rotate(#{45*$i}deg);
    &::before{
      content: '#{$i}';
      display: block;
      font-size: 18px;
      color: black;
      line-height: 18px;
      font-weight: 600;
      left: 2px;
      top: 2px;
      position: absolute;
    }
  }
}
.grid-container{
  margin-bottom: 20px;
  //background-color: black;
  &__item{
    background-color: chartreuse;
    text-align: center;
    padding: 5px;
  }
}
.grid-container--border-items{
  .grid-container__text{
    font-size: 24px;
    border: 3px solid darken(chartreuse, 30%);
  }
}

.grid-container--border{
  border: 3px dashed #ddd;
}
.grid-container.grid-container--clear-items{
  .grid-container__item{
    filter: none;
  }
}

.custom .slide{
  padding: 15px 100px 0;
  &::after{
    right: 30px;
  }
  pre, code{
    font-size: 20px;
    line-height: 25px;
  }
}
#cover.slide {
  background-image: url("./../pictures/grid-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h2 {
    margin:150px 0 0;
    color:#FFF;
    -webkit-text-stroke: 1px black;
    text-align:center;
    font-size:120px;
  }
  p {
    margin:10px 10px 0;
    text-align:center;
    color:#FFF;
    font-style:italic;
    font-size:80px;
    -webkit-text-stroke: 1px black;
  }
  p a {
    color:#FFF;
    text-decoration: none;
    background: none;
    -webkit-text-stroke: 1px black;
  }
}

.grid-container__item-border{
	align-self: stretch;
	justify-self: stretch;
	border: 1px solid darken(#ddd, 20%);
    background-color: lighten(#ddd, 5%);
    z-index: -1;
}
.caniuse{
  position: absolute;
  left: 40px;
  top: 70px;
  &-1{
    width: 900px;
  }
  &-2{
    width: 900px;
  }
}