.grid-container{
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px; // grid-gap: 5px 5px;
}

.grid-container--1{
  height: 480px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: white;
  .grid-container__item{
    border: 1px solid #ddd;
    text-transform: uppercase;
    position: relative;
  }
  .grid-area{
    border-color: rgb(138, 0, 84);
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    &:hover {
      background: rgb(138, 0, 84);
      color: white;
    }
  }
  .grid-column{
    border-color: rgba(2, 143, 118, .8);
    grid-column: 5;
    grid-row: 1 / 6;
    &:hover {
      background: rgba(2, 143, 118, .8);
      color: white;
      z-index: 1;
    }
  }
  .grid-row{
    background: rgba(255, 255, 255, .5);
    border-color: rgba(38, 95, 163, .8);
    grid-column: 1 / 6;
    grid-row: 5 / 6;
    &:hover {
      background: rgba(38, 95, 163, .8);
      color: white;
      z-index: 1;
    }
  }
  .grid-cell{
    border-color: rgb(255, 0, 72);
    &:hover {
      background: rgb(255, 0, 72);
      color: white;
    }
  }
}

.grid-container--2{
  height: 330px;
  grid-template-columns: 130px 1fr 2fr auto;
  grid-template-rows: 25% 1fr auto;
}
.grid-container--3{
  height: 330px;
  grid-template-columns: repeat(2, 1fr) repeat(2, 2fr) 3fr;
  grid-template-rows:  repeat(3, 1fr);
  .grid-container__item--8{
    grid-column-start: 3;  grid-column-end: 5;
    grid-row-start: 2;  grid-row-end: 4;
    z-index: 1; opacity: 0.8;
  }
  .grid-container__item--9{
    grid-column: 4 / 6;
    grid-row: 3 / 4;
  }
}