.grid-container{
  display: grid;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  background-color: black;
}
.grid-container--1{
  height: 330px;
  grid-template-columns: 130px 1fr 2fr auto;
  grid-template-rows: 25% 1fr auto;
}
.grid-container--2{
  height: 330px;
  grid-template-columns: repeat(2, 1fr) repeat(2, 2fr) 3fr;
  grid-template-rows:  repeat(3, 1fr);
  .grid-container__item--8{
    grid-column-start: 3;  grid-column-end: 5;
    grid-row-start: 2;  grid-row-end: 4;
  }
  .grid-container__item--9{
    grid-column-start: 4;  grid-column-end: 6;
    grid-row-start: 3;  grid-row-end: 4;
  }

}